aside
	div.aside-block
		h2 Commentaires
		p.comment Lorem ipsum dolor sit amet, consectetur adipisicing elit...  
		//
			var desc = data.salle_id.description.substr(0,100);
			a(href="") Lire la suite...
		p.comment Lorem ipsum dolor sit amet, consectetur adipisicing elit...  
			a(href="") Lire la suite...								
	div
		p.social-networks
			a(href="", title="Flux RSS", alt="flux rss")
				img(src="../images/icons/button_rss.png")
			a(href="https://twitter.com/Lilit_Rande", title="Suivez-moi sur twitter", alt="twitter")
				img(src="../images/icons/button_twitter.png")
			a(href="http://www.facebook.com/lilit.rande", title="facebook", alt="facebook icon")
				img(src="../images/icons/button_facebook.png")
			a(href="newsletter", title="Inscrivez vous au newsletter", alt="inscription au newsletter")
				img(src="../images/icons/button_newsletter.png")