footer
	div#footer
		ul
			li
				a(href="/mentions/") Mentions légales 
			li
				&nbsp;
				a(href="/cgv/") C. G. V 
			li
				&nbsp;
				a(href="/plan/") Plan du site 
			li
				&nbsp;
				a(href="/inscription-newsletter/") S'inscrire à la newsletter 
			li
				&nbsp;
				a(href="/contact/") Contact
	p#copyright
		© Copyright Information Goes Here. All Rights Reserved.