div.row
	div.span12
		ul
			li
				a(href="/mentions/") Mentions légales 
				|
			li
				&nbsp;
				a(href="/cgv/") C. G. V 
				|
			li
				&nbsp;
				a(href="/plan/") Plan du site 
				|
			li
				&nbsp;
				a(href="/inscription-newsletter/") S'inscrire à la newsletter 
				|
			li
				&nbsp;
				a(href="/contact/") Contact		