header
	h1#header-logo.pull-left
		a Lokisalle
			p.tagline Location de salles de réunion
	div#header-form.pull-right
		p
			- var nb = 0
			- if (session.panier)
				- nb = session.panier_count
			a#panier_link.underlined-link(href="/panier") 
				| Mon panier ( 
				span#nb_articles #{nb}
				|  article(s) )
		- if (!session.user_id)
			include ../forms/connexion
			a(href="/inscription") Pas encore membre?
			a(href="") Mot de passe oublié...
		- else
			p
				a(href="/profil") Bonjour, #{session.pseudo}
			a(href="/logout") Déconnexion
	div.clearfix