header
	h1#header-logo.pull-left
		a Lokisalle
			p.tagline Location de salles de réunion
	div#header-form.pull-right
		- if (!session.pseudo)
			include ../forms/connexion
			a(href="/inscription") Pas encore membre?
			a(href="") Mot de passe oublié...
		- else
			p Bonjour, #{session.pseudo}
			a(href="/logout") Déconnexion
	div.clearfix