header
	h1#header-logo.pull-left
		a Lokisalle
			p.tagline Location de salles de réunion
	div#header-form.pull-right
		include panier
		- if (!session.user_id)
			include ../forms/connexion
			a(href="/inscription") Pas encore membre?
			a(href="") Mot de passe oublié...
		- else
			p
				a(href="/profil") Bonjour, #{session.name}
				a(href="/logout") 
					i.glyphicon .glyphicon-search 
					| Déconnexion
	div.clearfix