div.row
	div.span12
		ul
			li
				a(href="/") Gestion des salles
			li
				a(href="/") Gestion des produits
			li
				a(href="/") Gestion des membres
			li
				a(href="/") Gestion des commandes
div.row
	div.span12
		ul
			li
				a(href="/") Gestion des avis
			li
				a(href="/") Gestion codes promo
			li
				a(href="/") Statistiques
			li
				a(href="/") Envoyer la newsletter