div.row
	div.span12
		ul
			li
				a(href="/") Accueil
			li
				img(src="../../images/sep_menu.jpg", class="separator")
			li
				a(href="/reservation/") Réservation
			li
				img(src="../../images/sep_menu.jpg", class="separator")
			li
				a(href="/recherche/") Recherche
			li
				img(src="../../images/sep_menu.jpg", class="separator")
			li
				a(href="/inscription/") S'inscrire
			li
				img(src="../../images/sep_menu.jpg", class="separator")
			li
				a(href="/connexion/") Se connecter
			li
				img(src="../../images/sep_menu.jpg", class="separator")