nav
	ul
		li
			a(href="/") Accueil
		li.divider
		li
			a(href="/reservation/") R&eacute;servation
		li.divider
		li
			a(href="/recherche/") Recherche
		li.divider
		li
			a(href="/inscription/") S'inscrire
		li.divider