body,
p,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font: 12px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  color: #555555;
}
h1,
h2,
h3 {
  color: #e78626;
}
h1 {
  font-size: 18px;
  margin: 10px;
}
h2 {
  font-size: 14px;
  margin: 5px;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #4c3c34;
}
a:hover {
  text-decoration: underline;
}
span.underlined-text {
  color: #e78626;
  font-style: italic;
}
.clear {
  clear: both;
}
.left-block {
  float: left;
}
.right-block {
  float: right;
}
.italic {
  font-style: italic;
}
.normal {
  font-style: normal;
}
