.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
p,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font: 12px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  color: #555555;
}
h1,
h2,
h3 {
  color: #e78626;
}
h1 {
  font-size: 18px;
  margin: 10px;
}
h2 {
  font-size: 14px;
  margin: 5px;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #4c3c34;
}
a:hover {
  text-decoration: underline;
}
span.underlined-text {
  color: #e78626;
  font-style: italic;
}
.clear {
  clear: both;
}
.left-block {
  float: left;
}
.right-block {
  float: right;
}
.italic {
  font-style: italic;
}
.normal {
  font-style: normal;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.background-style {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -o-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: linear-gradient(to bottom, #f4f4f4, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
}
.center-block {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
}
.form-block-background-style {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -o-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: linear-gradient(to bottom, #f4f4f4, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
}
.message-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto !important;
  padding: 10px !important;
}
.error-message {
  background-color: #ffa5b7;
  border: #ff597a 1px solid;
  color: #9d261d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto !important;
  padding: 10px !important;
}
.ok-message {
  background-color: #def4c0;
  border: #bce97f 1px solid;
  color: #46a546;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto !important;
  padding: 10px !important;
}
.info-message {
  background-color: #c1e5f7;
  border: #7dc9ee 1px solid;
  color: #568cbe;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto !important;
  padding: 10px !important;
}
.warning-message {
  background-color: #fbf1b5;
  border: #f7e36c 1px solid;
  color: #9b6011;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto !important;
  padding: 10px !important;
}
.align-center {
  text-align: center;
}
.annonce-bloc {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -o-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: linear-gradient(to bottom, #f4f4f4, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  padding: 10px;
  margin: 20px auto;
}
.annonce-bloc img {
  margin: 0 10px 10px 0;
}
.annonce-bloc a {
  color: #e78626 !important;
  font-size: 12px;
}
.annonce-bloc a:hover {
  color: #ad6013 !important;
}
.annonce-bloc.one-column {
  margin: 20px auto;
  min-height: 250px;
}
.annonce-bloc.one-column img {
  float: left;
  vertical-align: top;
}
.annonce-bloc.one-column h2 {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.annonce-bloc.one-column span.italic {
  color: #e78626;
  margin-bottom: 10px;
}
.annonce-bloc:hover {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
  background-image: -o-linear-gradient(top, #f6f6f6, #eeeeee);
  background-image: linear-gradient(to bottom, #f6f6f6, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffeeeeee', GradientType=0);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: none repeat scroll 0 0 #000000;
  display: none;
}
.edit-block {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -o-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: linear-gradient(to bottom, #f4f4f4, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  padding: 0;
  margin: 0 auto;
  width: 500px;
  padding-bottom: 10px;
}
.edit-block .btn {
  margin-left: 10px;
}
.edit-block p {
  margin: 10px !important;
}
.edit-block h2 {
  background-color: #d9d6d6;
  width: 100%;
  text-align: center;
  padding: 0 !important;
}
.edit-block form {
  position: relative;
  margin: 20px auto;
  width: 80%;
}
.edit-block form label {
  display: inline-block;
  width: 7em;
}
.edit-block form .petit-label {
  font-size: 10px;
  font-style: italic;
  color: #000000;
  width: 32% !important;
  margin-left: 10px;
}
.edit-block form.form-produit-edit label.choix {
  width: 100%;
}
.edit-block form.form-produit-edit select {
  width: 100%;
}
.edit-block form.form-produit-edit input {
  width: 20%;
}
.edit-block img {
  margin: 0 0 0 10px;
  width: 40px;
  height: 40px;
}
.edit-block .input-file-hidden {
  top: 276px;
  position: absolute;
  opacity: 0;
  z-index: 50;
  margin-left: 7em;
  cursor: pointer !important;
}
.edit-block .input-file-visible input[type="text"] {
  vertical-align: top;
  width: 36%;
}
.edit-block .input-file-visible .btn {
  vertical-align: top;
}
.popup {
  display: none;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -o-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: linear-gradient(to bottom, #f4f4f4, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  padding: 0;
  margin: 0 auto;
  width: 500px;
  padding-bottom: 10px;
  position: absolute;
  z-index: 100;
}
.popup .btn {
  margin-left: 10px;
}
.popup p {
  margin: 10px !important;
}
.popup h2 {
  background-color: #d9d6d6;
  width: 100%;
  text-align: center;
  padding: 0 !important;
}
.popup form {
  position: relative;
  margin: 20px auto;
  width: 80%;
}
.popup form label {
  display: inline-block;
  width: 7em;
}
.popup form .petit-label {
  font-size: 10px;
  font-style: italic;
  color: #000000;
  width: 32% !important;
  margin-left: 10px;
}
.popup form.form-produit-edit label.choix {
  width: 100%;
}
.popup form.form-produit-edit select {
  width: 100%;
}
.popup form.form-produit-edit input {
  width: 20%;
}
.popup img {
  margin: 0 0 0 10px;
  width: 40px;
  height: 40px;
}
.popup .input-file-hidden {
  top: 276px;
  position: absolute;
  opacity: 0;
  z-index: 50;
  margin-left: 7em;
  cursor: pointer !important;
}
.popup .input-file-visible input[type="text"] {
  vertical-align: top;
  width: 36%;
}
.popup .input-file-visible .btn {
  vertical-align: top;
}
.popup h2 {
  cursor: move;
}
a {
  color: #4c3c34 !important;
}
a:hover {
  color: #1f1815 !important;
}
h1,
h2,
h3,
h4 {
  color: #e78626 !important;
}
h1 {
  font-size: 18px !important;
}
h2 {
  font-size: 14px !important;
}
label {
  color: #e78626;
}
textarea {
  resize: none;
}
header {
  background: url('../../images/header.jpg') left top no-repeat;
  height: 166px;
}
header #connexion {
  color: #eeeeee;
  float: right;
  margin: 10px 40px 0 10px;
}
header #connexion form fieldset {
  border: none;
  margin-bottom: 0;
}
header #connexion form fieldset input {
  width: 160px;
  margin-bottom: 0;
  margin-right: 2px;
}
header #connexion form fieldset input[type="submit"] {
  margin-left: 0;
  border: none;
  color: #ffffff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: #ecbe43;
  background-image: -moz-linear-gradient(top, #efe457, #e78626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efe457), to(#e78626));
  background-image: -webkit-linear-gradient(top, #efe457, #e78626);
  background-image: -o-linear-gradient(top, #efe457, #e78626);
  background-image: linear-gradient(to bottom, #efe457, #e78626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefe457', endColorstr='#ffe78626', GradientType=0);
  font-weight: bold;
  vertical-align: middle;
}
header #connexion form fieldset #connexion-submit {
  width: 26px;
  height: 26px;
}
nav ul,
nav li {
  display: inline-block;
}
nav ul {
  padding-left: 12px;
  margin: 0;
}
nav ul li {
  vertical-align: middle;
  padding-left: 12px;
}
nav ul li .separator {
  padding: 0 12px;
}
nav .nav-user {
  background-color: #f0f0f1;
  background-image: -moz-linear-gradient(top, #fcfcfc, #dedfe0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#dedfe0));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #dedfe0);
  background-image: -o-linear-gradient(top, #fcfcfc, #dedfe0);
  background-image: linear-gradient(to bottom, #fcfcfc, #dedfe0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfc', endColorstr='#ffdedfe0', GradientType=0);
  height: 30px;
  padding-top: 2px;
}
#main {
  margin-bottom: 20px;
}
#main p.text {
  margin: 10px 10px 20px;
}
#main p {
  margin: 0;
  padding: 0;
}
#main h2 {
  margin-top: 0;
  padding-left: 10px;
}
#main h2 a {
  font-size: inherit;
}
#main .titre {
  font-weight: bold;
  color: #e78626;
  margin-right: 10px;
}
#main .popup h2 {
  margin: 0;
  padding: 0;
}
#main .two-columns .annonce-bloc {
  min-height: 210px;
  margin-bottom: 10px;
}
#main .two-columns .annonce-bloc p {
  margin-bottom: 0;
}
#main .two-columns .annonce-bloc h2 {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
table.main-table {
  border: 1px solid #d7d7d7;
  text-align: center;
}
table.main-table tr,
table.main-table td,
table.main-table th {
  border: 1px solid #d7d7d7;
  text-align: center;
}
table.main-table {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -o-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: linear-gradient(to bottom, #f4f4f4, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#fff9f9f9', GradientType=0);
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(215, 215, 215, 0.5);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  -moz-box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(215, 215, 215, 0.5);
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
table.main-table .model-view-link:hover,
table.main-table .model-edit-link:hover,
table.main-table .model-delete-link:hover {
  cursor: pointer;
}
table.main-table .model-view-link a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
table.main-table .model-edit-link img,
table.main-table .model-delete-link img {
  width: 14px;
  height: 14px;
}
table.main-table th {
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -o-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: linear-gradient(to bottom, #f4f4f4, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#fff9f9f9', GradientType=0);
  color: #e78626;
  font-style: italic;
  font-weight: normal;
  width: 201px;
  font-size: 14px;
}
table.main-table tr:nth-child(2n+1) {
  background-color: #e1e1e1;
}
table.main-table tr:nth-child(2n) {
  background-color: #ffffff;
}
table.main-table td {
  font-size: 12px;
}
table.main-table input {
  color: #9d261d;
}
footer {
  background-color: #d9d6d6;
  height: 60px;
}
footer ul,
footer li {
  display: inline-block;
}
footer ul {
  text-align: center;
  margin-left: 25%;
}
footer ul li {
  line-height: 60px;
}
