form.form-inline(method="post", action="connexion")
	input.input-small(type='text', placeholder="login", name="pseudo")
	input.input-small(type='text', placeholder="password", name="mdp")
	button.btn.btn-inverse(type="submit") OK