form.form-horizontal(method="post", action="salles/#{action}", name="form-salle-edit")
	input#sallereference(type="hidden", name="sallereference")
	div.control-group
		label.control-label(for="salle-title") Titre
		div.controls
			input#salle-title(type="text", name="salletitle")			
	div.control-group
		label.control-label(for="salle-description") Description
		div.controls
			textarea#salle-description(name="salledescription")
	div.control-group
		label.control-label(for="salle-pays") Pays
		div.controls
			input#salle-pays(type="text", name="sallepays")
	div.control-group
		label.control-label(for="salle-ville") Ville
		div.controls
			input#salle-ville(type="text", name="salleville")
	div.control-group
		label.control-label(for="salle-adresse") Adresse
		div.controls
			input#salle-adresse(type="text", name="salleadresse")
	div.control-group
		label.control-label(for="salle-cp") Code postale
		div.controls
			input#salle-cp(type="text", name="sallecp")
	div.control-group
		label.control-label(for="salle-image-visible") Photo
		div.controls
			input#file.hide.ie_show(type="file", name="salleimage")
			div.input-append.ie_hide
				input#salle-image-visible.input-larget(type="text", onclick="$('input[id=file]').click();")
				a.btn(onclick="$('input[id=file]').click();") Parcourir
			//
				img(src="#{image}")
	div.control-group
		label.control-label(for="salle-capacite") Capacité
		div.controls
			input#salle-capacite(type="text", name="sallecapacite")
	div.control-group
		label.control-label(for="salle-categorie") Catégorie
		div.controls
			input#salle-categorie(type="text", name="sallecategorie")
	div.control-group
		div.controls
			input#bt-salle-edit.btn.btn-primary(type="submit", name="bt-salle-edit", value="#{type}")	
					
