extends ../layout

block content
	h1=title
	div.background
	div.promotion-edit.popup.draggable
	div.delete.popup.draggable
	div.one-column
		- if (docs != null)
			table(broder="1").center-block.main-table
				tr
					th Code Promotion
					th Réduction
					th Supprimer
					- each promo in docs
						tr.model-edit-link(data-id="#{promo._id}", data-model="promotion")
							td #{promo.code}
							td #{promo.reduction}
							td.model-delete-link
								img(src="images/icons/erase.png")
		-else
			p.error-message(colspan="3") Pas de code promotion à afficher
	
