div.navbar.navbar-inverse
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			div.nav-collapse.collapse
				ul.nav
					li.active
						a(href="/") Accueil
					li
						a(href="/reservation") Réservation
					li
						a(href="/recherche") Recherche
					- if (!session.user_id)
						li
							a(href="/inscription") Inscription
					- else
						li
							a(href="/logout") Déconnexion
						if (session.user_id && session.statut == 2)
							include nav-admin