form.form-horizontal#form-membre-new(method="post", action="", name="form-membre-edit")
	div.control-group
		label.control-label(for="pseudo") Pseudo
		div.controls
			input#pseudo(type="text", placeholder="Pseudo", name="pseudo")
	div.control-group
		label.control-label(for="mdp") Mot de passe
		div.controls
			input#mdp(type="text", placeholder="Mot de passe", name="mdp")
	div.control-group
		label.control-label(for="email") Email
		div.controls
			input#email(type="text", placeholder="Email", name="email")
	div.control-group
		label.control-label(for="nom") Nom
		div.controls
			input#nom(type="text", placeholder="Nom", name="nom")
	div.control-group
		label.control-label(for="prenom") Prénom
		div.controls
			input#prenom(type="text", placeholder="Prénom", name="prenom")
	div.control-group
		label.control-label(for="fem") Sexe
		div.controls
			label.radio Femme
				input#fem(type="radio", name="sexe", value="f")
			label.radio Homme
				input#masc(type="radio", name="sexe", value="m")
	div.control-group
		label.control-label(for="ville") Ville
		div.controls
			input#ville(type="text", placeholder="Ville", name="ville")
	div.control-group
		label.control-label(for="cp") Code postale
		div.controls
			input#cp(type="text", placeholder="Code postale", name="cp")
	div.control-group
		label.control-label(for="adresse") Adresse
		div.controls
			input#adresse(type="text", placeholder="Adresse", name="adresse")
	div.control-group
		label.control-label(for="statut") Statut
		div.controls
			select#statut(name="statut")
				option(value="0") Membre
				option(value="1") Modérateur
				option(value="2") Administrateur