form(method="", action="")
	fieldset
		input(type="text", placeholder="Identifiant", name="connexion[id]", id="connexion-id")
		input(type="password", placeholder="Mot de passe", name="connexion[password]", id="connexion-password")
		input(type="submit", name="connexion[submit]", id="connexion-submit", value="OK")