h2 {title}
form.form-produit-edit(method="post", action="{action}", name="form-produit-edit")
	fieldset
	input#produitreference(type="hidden", name="produitreference")
	label.choix(for="salle-reference") Choisir une salle parmis les salles existantes : 
	br
	select#salle-reference(name="produitsallereference")
		option
	br
	label(for="date-arrive") Date d'arrivée
	input#date-arrive(type="text", name="produitarrive")
	label.petit-label (format 'aaaa-mm-jj hh:mm')
	br
	label(for="date-depart") Date de départ
	input#date-depart(type="text", name="produitdepart")
	label.petit-label (format 'aaaa-mm-jj hh:mm')
	br
	label(for="prix") Prix
	input#prix(type="text", name="produitprix")
	label.petit-label €
	label.choix(for="promotion-reference") Choisir une salle parmis les salles existantes : 
	br
	select#promotion-reference(name="produitpromotionreference")
		option
	br			
	div.align-center
		input.bt-cancel.btn(type="button", name="bt-cancel", value="Annuler")
		input#bt-salle-edit.btn.btn-primary(type="submit", name="bt-salle-edit", value="{type}")			
