h2 {title}
form.form-produit-edit(method="post", action="{action}", name="form-produit-edit")
	fieldset
	input#old_salle_id(type="hidden", name="old_salle_id")
	label.choix(for="select-salle") Choisir une salle parmi les salles existantes : 
	br
	select#select-salle(name="new_salle_id")			
	br
	label(for="date-arrive") Date d'arrivée
	input#date-arrive(type="text", name="produitarrive")
	label.petit-label (format 'aaaa-mm-jj hh:mm')
	br
	label(for="date-depart") Date de départ
	input#date-depart(type="text", name="produitdepart")
	label.petit-label (format 'aaaa-mm-jj hh:mm')
	br
	label(for="prix") Prix
	input#prix(type="text", name="produitprix")
	label.petit-label €
	label(for="etat") Etat
	input#prix(type="text", name="produitetat")
	input#old_promotion_id(type="hidden", name="old_promotion_id")
	label.choix(for="select-promotion") Choisir une promotion parmi les promotions existantes : 
	br
	select#select-promotion(name="new_promotion_id")
		option
	br			
	div.align-center
		input.bt-cancel.btn(type="button", name="bt-cancel", value="Annuler")
		input#bt-salle-edit.btn.btn-primary(type="submit", name="bt-salle-edit", value="{type}")			
