form#form-inscription.form-horizontal(method="post", action="login/create")
	div.form-group
		label.control-label(for="pseudo") Pseudo
		div.controls
			input.form-control#pseudo(type="text", placeholder="Pseudo", name="pseudo")
	div.form-group
		label.control-label(for="mdp") Mot de passe
		div.controls
			input.form-control#mdp(type="text", placeholder="Mot de passe", name="mdp")
	div.form-group
		label.control-label(for="email") Email
		div.controls
			input.form-control#email(type="text", placeholder="Email", name="email")
	div.form-group
		label.control-label(for="nom") Nom
		div.controls
			input.form-control#nom(type="text", placeholder="Nom", name="nom")
	div.form-group
		label.control-label(for="prenom") Prénom
		div.controls
			input.form-control#prenom(type="text", placeholder="Prénom", name="prenom")
	div.form-group
		label.control-label(for="fem") Sexe
		div.checkbox
			label 
				input#fem(type="radio", name="sexe", value="f")
				| &nbsp;Femme
		div.checkbox
			label
				input#masc(type="radio", name="sexe", value="m")
				| &nbsp;Homme
	div.form-group
		label.control-label(for="ville") Ville
		div.controls
			input.form-control#ville(type="text", placeholder="Ville", name="ville")
	div.form-group
		label.control-label(for="cp") Code postale
		div.controls
			input.form-control#cp(type="text", placeholder="Code postale", name="cp")
	div.form-group
		label.control-label(for="adresse") Adresse
		div.controls
			input.form-control#adresse(type="text", placeholder="Adresse", name="adresse")
	div.form-group
		div.controls
			button.btn.btn-primary(type="submit", name="submit-inscription") S'inscrire