form.form-horizontal#form-promotion-new(method="post", action="", name="form-promotion-edit")
	input#promotion-reference(type="hidden", name="promotionreference")	
	div.control-group
		label.control-label(for="promotion-code") Code promotion
		div.controls
			input#promotion-code(type="text", name="promotioncode")
	div.control-group
		label.control-label(for="promotion-reduction") Réduction
		div.controls
			input#promotion-reduction(type="text", name="promotionreduction")